<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      const typeArray = [];
      <% types.forEach(type => { %>
        typeArray.push("<%=type.name%>")
      <% }); %>
      const checkTextPattern = () => {
        const form = document.getElementById("add-type-form");
        const input = document.getElementById("add-type-text")
        if (typeArray.includes(input.value)){
          input.setCustomValidity("Type déjà présent !!");
        } else {
          input.setCustomValidity("")
        }
        console.log(input.value);
        form.reportValidity();
      };
      const addTypeSubmit = () => {
        const value = document.getElementById("add-type-text").value;
        $.ajax({
          type: "POST",
          url: "/api/type",
          data: { value: value },
          dataType: "json",
          success: (res) => location.replace("/"),
        });
      };
      const redirectHomepage = () => location.href = "/";
    </script>

    <link rel="stylesheet" href="assets/css/style.css" />
  </head>

  <body>
    <form id="add-type-form" onsubmit="addTypeSubmit()">
      <h3>Add new type</h3>

      <input
        autofocus
        type="text"
        pattern="[A-Z][a-z-]+"
        title="Une majuscule au début suivit de minuscule seulement"
        minlength="4"
        required
        id="add-type-text"
        oninput="checkTextPattern()"
      />
      <input type="submit" value="Ajouter" />

      <button type="button" onclick="redirectHomepage()">Retour</button>
    </form>
  </body>
</html>